a.hidden {
	text-decoration: none;
	color: inherit;
}

a.hidden:hover {
	text-decoration: underline;
}

body {
	background-color: #2c2f33;
	background-image: url("res/waves.svg");
	background-position-y: center;
	background-repeat: repeat-x;
	color: #ffffff;

	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}

footer {
	background-color: #23272a;
	min-height: 50px;
	padding: 3px;
	text-align: center;
}

header {
	background-color: #7289da;
	padding: 5px;
	text-align: center;
}

header * {
	display: inline;
	margin: 2px;
}

html, body {
	margin: 0;
	padding: 0;
}

#content {
	margin: 10px 25% 10px 25%;
	min-height: 100vh;
	text-align: justify;
}